#tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    background-color: beige;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
    width: 20%;
}

.task-contents {
    display: flex;
    flex-direction: column;
    text-align: left;
}

button {
    margin: 0.2rem;
}